tese.aux
tese.bbl
tese.blg
tese.lof
tese.log
tese.los
tese.lot
tese.maf
tese.mlf1
tese.mlf2
tese.mlf3
tese.mlf4
tese.mlt1
tese.mlt2
tese.mlt3
tese.mlt4
tese.mtc
tese.mtc0
tese.mtc1
tese.mtc2
tese.mtc3
tese.mtc4
tese.mtc5
tese.out
tese.synctex.gz
tese.toc